/* whole page style */
body {
  padding: 0;
  margin: 0;
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* nav bar styling */
.topnavbar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(33, 37, 41);
}

@media (max-width: 768px) {
  .topnavbar {
    float: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
  }
}

.topnavbar a:hover {
  background-color: grey;
  transform: scale(1.1);
}

/* image styling */
.image1 {
  margin: 20px;
  min-width: 5vw;
  max-width: 30vw;
  min-height: 5vw;
  max-height: 30vh;
  border: 1px solid grey;
  border-radius: 100%;
}

.imganimation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

/* text */
h1, h3, p {
  font-family:monospace;
  color: rgb(33, 37, 41);
}

.rainbow {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  transition: color 0.5s ease;
}

@keyframes rainbow {
  0%   { color: violet; }
  10%  { color: indigo; }
  25%  { color: blue; }
  50%  { color: green; }
  75%  { color: yellow; }
  100% { color: red; }
}

.rainbow {
  animation: rainbow 10s infinite;
}

/* project link(s) */
.image2 {
  min-width: 5vw;
  max-width: 25vw;
  min-height: 5vw;
  max-height: 25vh;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 20px;
}

.image3 {
  min-width: 5vw;
  max-width: 20vw;
  min-height: 5vw;
  max-height: 20vh;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 20px;
}

.image4 {
  min-width: 5vw;
  max-width: 20vw;
  min-height: 5vw;
  max-height: 20vh;
  object-fit: fill;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 20px;
}
